body{
    font-family: monospace;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#caixa {
    display: flex;
    outline-color: #ddd;
    padding-top: 60px;
    padding-bottom: 0px;
    box-shadow: inset 0px 0px 20px -5px #555;
    width: 500px;
    height: 30px;
    position: relative;
    transition: 0.2s ease;
    background: #fbfbfb;
}

#caixa:before {
    content: '';
    width: 1px;
    height: 90px;
    background: #e6e6e6;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -0.5px;
}

.char {
    width: 20px;
    height: 30px;
    background: black;
    transform: translateX(0px);
    transition: 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: auto;
    position: absolute;
    /* background: url("images/jogging.png") center center / contain no-repeat; */
}

#char1{
    background: url("images/char1.png") center center / contain no-repeat;
}

#char2{
    background: url("images/char2.png") center center / contain no-repeat;
}

.char span {
    color: white;
    cursor: default;
    font-family: monospace;
    display: none;
}

.placar-box{
    margin-top: 10px;
}

.placar{
    font-size: 1.5em;
}

.versao{
    margin-top: 20px;
}

.btns-box{
    display: flex;
}

.myBtn{
    margin-top: 1.5em;
    -webkit-appearance: none;
    border: none;
    font-weight: bold;
    font-family: inherit;
    padding: 7.5px 15px;
    font-size: 1.2em;
    margin-right: 1em;
    text-transform: uppercase;
}

.myBtn:last-child{
    margin-right: 0;
}

.instructions-box{
    width: 500px;
    text-align: center;
    display: none;
}

.instructions{
    background: #fbfbfb;
    padding: 15px;
    border: 1px solid #ededed;
}

.gameStatus-box{
    display: none;
}

.gameStatus{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ffffff99;
    color: green;
    font-size: 2em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease;
}